#mainCont {
    display: grid ;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    font-family: 'Open Sans', sans-serif;
}

#header {
    text-align: center;
    grid-column: 1 / -1;
}